.conversationWindow {
  flex-grow: 1;
  transition: 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 440px) {
  .conversationWindow {
    position: absolute;
    height: 93%;
    width: 100%;
  }
}
