.container {
  width: 100%;

  flex-direction: column;
  align-items: center;
}

.userInfo {
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0.8rem 0;
}

.statusBtn {
  height: 1.6rem;
  font-size: 0.8rem;
}

.activeIndicator {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: lightgreen;
  border: 1px solid white;
  margin-right: 6px;
}

.menuItem {
  border-radius: 0;
  border: 1px solid rgb(0, 0, 0, 0.05);
}

.copiedIndicator {
  position: absolute;
  top: 3px;
  left: 1.5rem;
  font-weight: 500;
  font-size: 0.8rem;
  opacity: 0.8;
}
