.graphicWindow {
  width: 0;
  height: 100%;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.formWindow {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  padding: 0 1rem;
}

.formHTML {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
}

@media only screen and (min-width: 765px) {
  .graphicWindow {
    width: 50%;
  }

  .formWindow {
    width: 50%;
  }
}
